*{ 
    margin: 1px;;
    padding: 1px;
    background-color: rgb(148, 203, 224);
}
nav{
         padding:  5px 10px;
         background-color: black;
    }
nav ul{
    display:inline-block;
    text-align:right;
}

nav ul li{
    display: inline-block;
    margin: 1opx 5px;
    color: rgba(202, 3, 3, 0.692);

}
button{ 
    border:5px solid brown;
    display: inline-block;
    margin: 20px auto;
    background-color: rgb(6, 14, 29);
    padding: 7px 7px;
    color: tomato;


}
ul li{
    color: crimson;

}
h2 mark {
    color: rgb(190, 29, 0);
}
 






























